.idea
data_large.txt
instruments/ruby_prof_reports/callstack.html
instruments/ruby_prof_reports/flat.txt
instruments/ruby_prof_reports/graph.html
instruments/stackprof_reports/stackprof.json
result.json
result.json